/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    animation: fadein 0.8s;
    /*width:1000px;
    overflow-y: auto;
    max-height: 1000px;*/
}

/* Left column */
.column.left {
    width: 50%;
    /*margin-left:10px;*/

}

/* Middle column */
.column.middle {
    width: 16%;
    /*float: left;
    width:1000px;
    overflow-y: auto;
    max-height: 800px;*/
}


.column.right {
    width: 26%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.left, .column.middle, .column.right {
        width: 100%;
    }
}









