 /* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #000;
    cursor: pointer;
    padding: 4px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accactive, .accordion:hover {
    background-color: #ccc;
}


.panel {
    padding: 0 4px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    /*overflow-x:auto;*/
    overflow-y:auto;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 6px;
    color: #fff;
    float: left;
    margin-left: 3px;
    padding: 6px;
}

.accactive:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

