.crosstable { 
	table-layout:fixed;
    width: 100%;
}

.crosstable td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 9pt;
    padding: 2px;
    word-wrap: break-word;
    white-space: pre-wrap; 
}




