.sortbutton1 {
    margin-left: 6px;
    padding: 1px;
    display: in-line;
    width: 16px;
    height: 16px;
    background: #fff;
    border: 1px solid #444;
    text-align: center;
    color: #000;
    cursor: pointer;
    border-radius: 4px;
    font-size: 10px;
}

.sortbutton1:hover{
    background: #ffff00;
}



.sortbutton2 {
    margin-left: 4px;
    padding: 1px;
    display: in-line;
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    border: 1px solid #444;
    text-align: center;
    color: #000;
    cursor: pointer;
    border-radius: 4px;
    font-size: 10px;
}

.sortbutton2:hover{
    background: #ffff00;
}

